<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.walkholic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/walkholic_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WALKHOLIC"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ParkCloudviewReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ParkCloudviewFacilityActivity"
            android:exported="false" />
        <activity
            android:name=".Search_SharedActivity"
            android:exported="false" />
        <activity
            android:name=".Search_ParkActivity"
            android:exported="false" />
        <activity
            android:name=".Search_WalkActivity"
            android:exported="false" />
        <activity
            android:name=".WriteReviewActivity"
            android:exported="false" />
        <activity
            android:name=".TmapSearchListActivity"
            android:exported="false" />
        <activity
            android:name=".WalkListActivity"
            android:exported="false" />
        <activity
            android:name=".WalkingActivity"
            android:exported="false" />
        <activity
            android:name=".ParkCloudviewHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewListActivity_park"
            android:exported="false" />
        <activity
            android:name=".ReviewListActivity_trail"
            android:exported="false" />
        <activity
            android:name=".ReviewListActivity_sharetrail"
            android:exported="false" />
        <activity
            android:name=".LogoActivity"
            android:exported="true"
            android:theme="@style/Theme.WALKHOLIC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.walkholic.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>